*{

margin: 0;
padding: 0;


}

body{

background-color: #F0FFFF;

}

.conteudo{


max-width: 1000px;
margin: auto;

}


.titulo{

background-color: black;
color: white;
text-align: center;
font-family: 'Road Rage', cursive;
font-size: 20px;
padding: 10px;


}